
/*--BG color index--*/
.bg-index{
    background-color: rgb(70, 49, 104);
}

.bosqueMithril{
    background-image: url(../media/Escenarios/BosqueMithril.gif);
    background-size: 100%;
}

/*--Magen del h1--*/
.magin-index{
    margin-top: 10%;
}

/*--Color Fuente--*/
.color-font{
    color: white;
    font-family: 'Jura', sans-serif;
    font-family: 'Rowdies', cursive;
}

.color-font-caz{
    position: absolute;
    animation: rebota 400ms alternate ease-out;
    color: rgb(228, 7, 7);
    font-family: 'Jura', sans-serif;
    font-family: 'Rowdies', bolde;
    font-size: 35px;
    border-radius: 50%;
    border-color: black;
}

@-webkit-keyframes rebota {
    0% {
      bottom: 0;
      height: 50px;
    }
    100% {
      bottom: 200px;
    }
  }


.font-style{
    font-family: 'Jura', sans-serif;
    font-family: 'Rowdies', cursive;
}


/*--Progress Bar--*/
.inicio{
    width: 0%;
}

.final{
    width: 100%;
}

.animacion{
    transition: all 5s ease .5s;
}

.blurry{
    filter: blur(4px);
}

.spinner{
    size: 30px;
}